---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <p>
      <div>
        <%= partial "layouts/banner" %>
      </div>
      <br>
      <div>
        <%= partial "layouts/cards" %>
      </div>
      <!-- TODO: un-fuck this up -->
    </p>
  </div>
</div>
